<script type="text/x-handlebars" data-template-name="purchase/index">
  <div class="row">
    <div class="col-lg-8">
      <div class="clearfix well">
        <form class="item_search form-inline pull-left">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-barcode"></span>
              </span>
              {{view Ember.TextField valueBinding="query" class="form-control" placeholder="Search..."}}
              <span class="input-group-btn">
                <button type="submit" {{action 'search'}} class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
              </span>
            </div>
          </div>
        </form>
        <button type="submit" {{action 'add'}} class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Add Line</button>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Qty</th>
            <th>Description</th>
            <th>Value</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each line in lines}}
          <tr {{bindAttr class=":line line.remove:hidden"}}>
            <td class="remove"><button type="button" {{action 'remove' line}} class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
            <td class="quantity">
              <span class="pull-left">
                {{view App.NumberField valueBinding="line.quantity" min="0" class="quantity form-control input-sm"}}
              </span>
              <span class="btn-group pull-right">
                <button type="button" {{action 'quantityPlus' line}} class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" {{action 'quantityMinus' line}} class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
            </td>
            <td class="description">
              <p><strong>{{line.title}}</strong></p>
              <p><em>{{line.sku}}</em></p>
              <p>{{view Ember.TextField valueBinding="line.note" class="form-control input-sm" placeholder="Add a note..."}}</p>
            </td>
            <td class="value">${{currency line.valueCash}}<br>({{currency line.valueCredit}})</td>
            <td class="subtotal"><strong>${{currency line.cashSubtotal}}<br>({{currency line.creditSubtotal}})</strong></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <hr>
    </div>
    <div class="col-lg-4">
      <div class="cart well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Description</th>
              <th>Value</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {{#each line in lines}}
            <tr {{bindAttr class=":cart-line line.remove:hidden"}}>
              <td class="quantity">{{line.quantity}}</td>
              <td class="description">{{line.title}}</td>
              <td class="value">${{currency line.valueCash}}<br>({{currency line.valueCredit}})</td>
              <td class="subtotal">${{currency line.cashSubtotal}}<br>({{currency line.creditSubtotal}})</td>
            </tr>
            {{else}}
            <tr><td colspan="4" class="center">Cart is empty</td></tr>
            {{/each}}
          </tbody>
        </table>
        <hr>
        <ul class="summary">
          <li><span><strong>Cash Subtotal:</strong></span><span><strong>${{currency cashSubtotal}}</strong></span></li>
          <li><span><strong>Credit Subtotal:</strong></span><span><strong>${{currency creditSubtotal}}</strong></span></li>
        </ul>
        <hr>
        <ul class="payment">
          <li><span>Cash:</span><span>${{currency cash}}</span></li>
          <li><span>Credit:</span><span>${{currency credit}}</span></li>
        </ul>
        <form class="ratio form-inline">
          <div class="form-group">
            {{view App.NumberField valueBinding="cashFmt" min="0" step="0.01" class="form-control pull-left"}}
            {{view App.RangeField valueBinding="ratio" min="-1" max="1" step="0.01" class="form-control pull-left"}}
            {{view App.NumberField valueBinding="creditFmt" min="0" step="0.01" class="form-control pull-left"}}
          </div>
        </form>
        <hr>
        <div class="clearfix">
          <p class="lead pull-left"><strong>{{dueLabel}}</strong></p>
          <p class="lead pull-right"><strong>${{currency due}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</script>