<script type="text/x-handlebars" data-template-name="purchase/till">
  <div class="row">
    <div class="col-lg-9">
      <h3>Select Till</h3>
    </div>
    <div class="col-lg-3">
      <div class="pull-right">
        <button {{action 'back'}} type="button" class="header btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
      </div>
    </div>
  </div>
  <hr>
  {{#each store in stores}}
  <h4>{{store.name}}</h4>
  <hr>
  <table class="tills table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#each till in store.tills}}
      <tr>
        <td>{{till.name}}</td>
        <td>
          <button {{action 'select' till}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Select</button>
        </td>
      </tr>
      {{else}}
        <tr>
          <td colspan="11"><strong>No Tills Found</strong></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{/each}}
  <hr>
</script>