<script type="text/x-handlebars" data-template-name="purchases/index">
  <div class="clearfix">
    <h2 class="pull-left">Purchases</h2>
    <button {{action 'new'}} type="button" class="new btn btn-primary btn-lg pull-right">New Sale</button>
  </div>
  <hr>
  <div class="filter row">
    <div class='filter_nav col-lg-4'>
      <button {{action 'all'}} type="button" class="all btn btn-primary">All</button>
      <button {{action 'newest'}} type="button" class="newest btn btn-default">Newest</button>
      <button {{action 'recent'}} type="button" class="recent btn btn-default">Recent</button>
    </div>
    <div class='filter_search col-lg-8'>
      <div class='filter_search_form pull-right'>
        <form class="search form-inline">
          <div class="form-group">
            {{view Ember.TextField valueBinding="query" class="form-control" placeholder="Search..."}}
          </div>
          <button type="submit" {{action 'search'}} class="btn btn-default">Search</button>
          <button type="submit" {{action 'reset'}} class="btn btn-primary">Reset</button>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <table class="purchases table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>User</th>
        <th>Till</th>
        <th>Customer</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Complete</th>
        <th>Receipt</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each purchase in controller}}
      <tr>
        <td>
          <button {{action 'load' purchase}} {{bindAttr disabled='purchase.complete'}} type="button" class="btn btn-primary btn-small">{{purchase.sku}}</button>
        </td>
        <td>
          {{#if purchase.user}}
          {{purchase.user.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if purchase.till}}
          {{purchase.till.name}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if purchase.customer}}
          {{purchase.customer.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>{{purchase.quantity}}</td>
        <td>${{currency purchase.total}}</td>
        <td>{{boolean purchase.complete}}</td>
        <td>
          <button {{action 'receipt' purchase}} type="button" class="btn btn-small">Receipt</button>
        </td>
        <td>
          <button {{action 'delete' purchase}} {{bindAttr disabled='purchase.complete'}} type="button" class="btn btn-small btn-danger">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr>
  <div class="page">
    <div class="page_container row">
      <div class="page_menu col-lg-6">
        <button {{action 'prev'}} type="button" class="all btn btn-sm btn-primary">&#8592; Previous</button>
        <button {{action 'next'}} type="button" class="newest btn btn-sm btn-default">Next &#8594;</button>
      </div>
      <div class="page_per col-lg-6">
        <div class="pull-right">
          <span class='title'>Per: </span>
          <span>
            <button {{action 'perTen'}} type="button" class="all btn btn-sm btn-primary">10</button>
            <button {{action 'perTwentyFive'}} type="button" class="newest btn btn-sm btn-default">25</button>
            <button {{action 'perFifty'}} type="button" class="recent btn btn-sm btn-default">50</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</script>