<script type="text/x-handlebars" data-template-name="purchase">
  {{outlet}}
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
      <span class="navbar-brand footer"></span>
    </div class="btn-group">
    <div class="navbar-nav">
      <div>
        <button {{action 'selectUser'}} type="button" class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-user"></span>
          {{#if user}}
          {{user.fullname}} | {{user.till.name}}
          {{else}}
          No User
          {{/if}}
        </button>
        <button {{action 'clearUser' this}} type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <div class="btn-group">
        <button {{action 'selectCustomer'}} type="button" class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-user"></span>
          {{#if customer}}
          {{customer.fullname}}
          {{else}}
          No Customer
          {{/if}}
        </button>
        {{#if customer}}
        <button {{action 'editCustomer'}} type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-pencil"></span></button>
        {{/if}}
        <button {{action 'addCustomer'}} type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="navbar-right">
      <span class="navbar-text"><strong>{{dueLabel}}</strong></span>
      <span class="navbar-text"><strong>${{currency due}}</strong></span>
      <button {{action 'save' this}} {{bindAttr disabled="nonSaveable"}} type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      <button {{action 'complete' this}} {{bindAttr disabled="nonCompletable"}} type="button" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-ok"></span> Complete</button>
    </div>
  </div>
</script>