<script type="text/x-handlebars" data-template-name="purchase">
  {{outlet}}
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
      <button {{action 'editUser'}} type="button" class="btn btn-default navbar-btn">
        {{#if user}}
        {{user.fullname}}
        {{else}}
        No User
        {{/if}}
      </button>
      <button {{action 'editCustomer'}} type="button" class="btn btn-default navbar-btn">
        {{#if customer}}
        {{customer.fullname}}
        {{else}}
        No Customer
        {{/if}}
      </button>
      <button {{action 'editTill'}} type="button" class="btn btn-default navbar-btn">
        {{#if till}}
        {{till.name}}
        {{else}}
        No Till
        {{/if}}
      </button>
    </div>
    <div class="navbar-right">
      <p class="navbar-text"><strong>{{dueLabel}}</strong></p>
      <p class="navbar-text"><strong>${{currency due}}</strong></p>
      <button {{action 'save' this}} type="button" class="btn btn-default navbar-btn">Save</button>
      <button {{action 'complete' this}} {{bindAttr disabled="nonCompletable"}} type="button" class="btn btn-primary navbar-btn">Complete</button>
    </div>
  </div>
</script>