<script type="text/x-handlebars" data-template-name="sales/index">
  <div class="clearfix">
    <h2 class="pull-left">Sales</h2>
    <button {{action 'new'}} type="button" class="header btn btn-primary btn-lg pull-right"><span class="glyphicon glyphicon-plus"></span> New Sale</button>
  </div>
  <hr>
  <div class="filter">
    <div class="filter_container row">
      <div class='filter_nav col-lg-4'>
        <button {{action 'active'}} type="button" {{bindAttr class=":btn isFilterActive:btn-primary:btn-default"}}>Active</button>
        <button {{action 'complete'}} type="button" {{bindAttr class=":btn isFilterComplete:btn-primary:btn-default"}}>Complete</button>
        <button {{action 'flagged'}} type="button" {{bindAttr class=":btn isFilterFlagged:btn-primary:btn-default"}}>Flagged</button>
        <button {{action 'recent'}} type="button" {{bindAttr class=":btn isFilterRecent:btn-primary:btn-default"}}>Recent</button>
      </div>
      <div class='filter_search col-lg-8'>
        <div class='filter_search_form pull-right'>
          <form class="search form-inline">
            <button type="button" {{bindAttr class=":btn :btn-default searching:visible:hidden"}}><span class="glyphicon glyphicon-refresh"></span></button>
            <div class="form-group">
              {{view App.SearchField valueBinding="query" class="form-control" placeholder="Search..."}}
            </div>
            <button type="submit" {{action 'search'}} class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
            <button type="button" {{action 'clear'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <table class="sales table table-striped">
    <thead>
      <tr>
        <th><span class="glyphicon glyphicon-flag"></span></th>
        <th>Updated</th>
        <th>User</th>
        <th>Till</th>
        <th>Customer</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Flag</th>
        <th>Receipt</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each sale in controller}}
      <tr>
        <td>
          {{#if sale.flagged}}
          <span class="glyphicon glyphicon-flag"></span>
          {{/if}}
        </td>
        <td>{{date sale.updatedAt "%m/%d/%y %I:%M:%S %p"}}</td>
        <td>
          {{#if sale.user}}
          {{sale.user.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if sale.till}}
          {{sale.till.name}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if sale.customer}}
          {{sale.customer.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td class="note">{{sale.note}}</td>
        <td>
          <button {{action 'load' sale}} {{bindAttr disabled='sale.complete'}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        </td>
        <td>
          <button {{action 'flag' sale}} type="button" class="btn btn-default"><span class="glyphicon glyphicon-flag"></span> Flag</button>
        </td>
        <td class="receipt">
          <div class="btn-group">
            <button {{action 'print' sale}} type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Print</button>
            <button {{action 'view' sale}} type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View</button>
          </div>
        </td>
        <td>
          <button {{action 'delete' sale}} {{bindAttr disabled='sale.complete'}} type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr>
  <div class="page">
    <div class="page_container row">
      <div class="page_menu col-lg-6">
        <button {{action 'refresh'}} type="button" class="next btn btn-sm btn-primary"><span class="glyphicon glyphicon-refresh"></span> {{total}} results</button>
        {{#if hasPages}}
          <button {{action 'prev'}} type="button" class="prev btn btn-sm" {{bindAttr disabled="cantPagePrev"}}>&#8592; Previous</button>
          <button type="button" class="next btn btn-sm btn-default">{{page}} of {{totalPages}}</button>
          <button {{action 'next'}} type="button" class="next btn btn-sm" {{bindAttr disabled="cantPageNext"}}>Next &#8594;</button>
        {{/if}}
      </div>
      <div class="page_per col-lg-6">
        <div class="pull-right">
          <span class='title'>Per: </span>
          <span>
            <button {{action 'perTen'}} type="button" {{bindAttr class=":ten :btn :btn-sm isPerTen:btn-primary:btn-default"}}>10</button>
            <button {{action 'perTwentyFive'}} type="button" {{bindAttr class=":twenty-five :btn :btn-sm isPerTwentyFive:btn-primary:btn-default"}}>25</button>
            <button {{action 'perFifty'}} type="button" {{bindAttr class=":fifty :btn :btn-sm isPerFifty:btn-primary:btn-default"}}>50</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</script>