/*
 *= require ./bootstrap
 *= require_self
*/

body {
  padding: 70px 0px;
}

button.header { margin-top: 15px; }
input.pin { width: 100px; }

form.search input[type=text] {
  width: 528px;
}
form.item_search { width: 85%; }
form.payment input[type=number] {
  width: 100px;
}
form.ratio input { max-width: 30%; }
form.ratio input[type=range] { margin: 0px 5%; }

span.navbar-brand.footer { padding-left: 0px !important; }
span.minus { width: 140px; text-align: center;}

.cart .lead { margin-bottom: 0px; }
.navbar-fixed-bottom .navbar-right { padding-right: 15px; }
.navbar-fixed-bottom .navbar-right .navbar-text { font-size: 16px; margin: 13px 0px; padding-right: 10px; }
.center { text-align: center; }

table.sales tr td { vertical-align: middle; }
table.sales tr td.note { width: 160px; word-wrap: break-word; }
table.sales tr td.receipt { width: 164px; }
table.purchases tr td { vertical-align: middle; }
table.purchases tr td.note { width: 160px; word-wrap: break-word; }
table.purchases tr td.receipt { width: 164px; }
table.customers tr td { vertical-align: middle; }
table.users tr td { vertical-align: middle; }
table.tills tr td { vertical-align: middle; }
table.items tr td { vertical-align: middle; }

table tr td img { width: 38px; height: 38px !important; }
table tr.add td span { line-height: 38px; }
table tr.line td.remove { width: 40px; }
table tr.line td.quantity { width: 160px; }
table tr.line td.quantity input[type=number] {
  width: 70px;
}
table tr.line td.description p { margin-bottom: 5px; text-align: left; }
table tr.line td.amount { width: 90px; }
table tr.line td.value { width: 90px; }
table tr.line td.subtotal { width: 90px; }

table tr.cart-line td.quantity { max-width: 10%; }
table tr.cart-line td.description { max-width: 50%; }
table tr.cart-line td.amount { max-width: 20%; }
table tr.cart-line td.value { max-width: 20%; }
table tr.cart-line td.subtotal { max-width: 20%; }

table tr td.pin { width: 100px; }

span.new-line { height: 34px; line-height: 34px; }

ul.bullets { list-style-position: inside; text-align: left; padding-left: 0px; }

ul.summary { 
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}
ul.summary li span:first-child { display: inline-block; width: 80%; }
ul.summary li span:last-child { display: inline-block; width: 20%; text-align: center; }

ul.payment { 
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}
ul.payment li span:first-child { display: inline-block; width: 80%; }
ul.payment li span:last-child { display: inline-block; width: 20%; text-align: center; }