<script type="text/x-handlebars">
  <div class="navbar navbar-fixed-top">
    {{#linkTo 'index' class="navbar-brand"}}Cashier POS{{/linkTo}}
  </div>
  <div class="container">{{outlet}}</div>
  {{outlet 'modal'}}
</script>

<script type="text/x-handlebars" data-template-name="empty"></script>

<script type="text/x-handlebars" data-template-name="_nav">
  <ul class="nav nav-pills">
    {{#linkTo 'sales' tagName='li' href=false}}
      {{#linkTo 'sales'}}Sales{{/linkTo}}
    {{/linkTo}}
    {{#linkTo 'purchases' tagName='li' href=false}}
      {{#linkTo 'purchases'}}Purchases{{/linkTo}}
    {{/linkTo}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="sales">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="sales/index">
  {{partial 'nav'}}
  <div class="clearfix">
    <h1 class="pull-left">Sales</h1>
    {{#linkTo 'sales.new' class="new btn btn-primary btn-large pull-right"}}New Sale{{/linkTo}}
  </div>
  <hr>
  <table class="sales table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>User</th>
        <th>Till</th>
        <th>Customer</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Complete</th>
        <th>Receipt</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each sale in controller}}
      <tr>
        <td><button {{action 'load' sale}} {{bindAttr disabled='sale.complete'}} type="button" class="btn btn-primary btn-small">{{sale.sku}}</button></td>
        <td>
          {{#if sale.user}}
          {{sale.user.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if sale.till}}
          {{sale.till.name}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if sale.customer}}
          {{sale.customer.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>{{sale.quantity}}</td>
        <td>${{currency sale.total}}</td>
        <td>{{boolean sale.complete}}</td>
        <td><button {{action 'receipt' sale}} type="button" class="btn btn-small">Receipt</button></td>
        <td>
          <button {{action 'delete' sale}} {{bindAttr disabled='sale.complete'}} type="button" class="btn btn-small">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name="sale">
  <div class="row">
    <div class="col-lg-8">
      <div class="well">
        <form class="search form-inline">
          {{view Ember.TextField valueBinding="query" class="form-control" placeholder="Search..."}}
          <button type="submit" {{action 'add'}} class="btn btn-primary">Add</button>
          <button type="submit" {{action 'search'}} class="btn btn-default">Search</button>
        </form>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Qty</th>
            <th>Description</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each line in lines}}
          <tr class="line">
            <td class="remove"><button type="button" {{action 'remove' line}} class="btn btn-small btn-default">x</button></td>
            <td class="quantity">
              <span class="pull-left">
                {{view App.NumberField valueBinding="line.quantity" min="0" class="quantity form-control input-small"}}
              </span>
              <span class="btn-group pull-right">
                <button type="button" {{action 'quantityPlus' line}} class="btn btn-small btn-default">+</button>
                <button type="button" {{action 'quantityMinus' line}} class="btn btn-small btn-default">-</button>
              </span>
            </td>
            <td class="description">
              <p><strong>{{line.title}}</strong></p>
              <p><em>{{line.sku}}</em></p>
              <p>{{view Ember.TextField valueBinding="line.note" class="form-control input-small" placeholder="Add a note..."}}</p>
            </td>
            <td class="amount">${{currency line.amount}}</td>
            <td class="subtotal"><strong>${{currency line.subtotal}}</strong></td>
          </tr>
          {{/each}}
          <tr class="add">
            <td colspan="5">
              <span class="lead">Add a new line...</span>
              {{#linkTo 'sale.line' class="btn btn-primary pull-right"}}Add Line{{/linkTo}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="cart well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Description</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {{#each line in lines}}
            <tr class="cart-line">
              <td class="quantity">{{line.quantity}}</td>
              <td class="description">{{line.title}}</td>
              <td class="amount">${{currency line.amount}}</td>
              <td class="subtotal">${{currency line.subtotal}}</td>
            </tr>
            {{else}}
            <tr><td colspan="4" class="center">Cart is empty</td></tr>
            {{/each}}
          </tbody>
        </table>
        <hr>
        <ul class="summary">
          <li><span>Subtotal:</span><span>${{currency subtotal}}</span></li>
          <li><span>Store Credit:</span><span>${{currency payment.storeCredit}}</span></li>
          <li><span>Subtotal (After Store Credit):</span><span>${{currency subtotalAfterStoreCredit}}</span></li>
          <li><span>Tax ({{taxRate}}%):</span><span>${{currency tax}}</span></li>
          <li><span><strong>Total:</strong></span><span><strong>${{currency total}}</strong></span></li>
        </ul>
        <hr>
        <ul class="payment">
          {{#if payment.cash}}
          <li><span>Cash:</span><span>${{currency payment.cash}}</span></li>
          {{/if}}
          {{#if payment.credit}}
          <li><span>Credit:</span><span>${{currency payment.credit}}</span></li>
          {{/if}}
          {{#if payment.check}}
          <li><span>Check:</span><span>${{currency payment.check}}</span></li>
          {{/if}}
          {{#if payment.giftCard}}
          <li><span>Gift Card:</span><span>${{currency payment.giftCard}}</span></li>
          {{/if}}
        </ul>
        <hr>
        <div class="clearfix">
          <p class="lead pull-left"><strong>{{dueLabel}}</strong></p>
          <p class="lead pull-right"><strong>${{currency due}}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div class="pull-left">
      <button {{action 'editUser'}} type="button" class="btn btn-default navbar-btn">
        {{#if user}}
        {{user.fullname}}
        {{else}}
        No User
        {{/if}}
      </button>
      <button {{action 'editCustomer'}} type="button" class="btn btn-default navbar-btn">
        {{#if customer}}
        {{customer.fullname}}
        {{else}}
        No Customer
        {{/if}}
      </button>
      <button {{action 'editTill'}} type="button" class="btn btn-default navbar-btn">
        {{#if till}}
        {{till.name}}
        {{else}}
        No Till
        {{/if}}
      </button>
    </div>
    <div class="pull-right">
      <button {{action 'save' this}} type="button" class="btn btn-default navbar-btn">Save</button>
      <button {{action 'complete' this}} {{bindAttr disabled="nonCompletable"}} type="button" class="btn btn-primary navbar-btn">Complete</button>
    </div>
    <p class="navbar-text lead pull-right"><strong>${{currency due}}</strong></p>
    <p class="navbar-text lead pull-right"><strong>{{dueLabel}}</strong></p>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="purchases">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="purchases/index">
  {{partial 'nav'}}
  <div class="clearfix">
    <h1 class="pull-left">Purchases</h1>
    {{#linkTo 'purchases.new' class="new btn btn-primary btn-large pull-right"}}New Purchase{{/linkTo}}
  </div>
  <hr>
  <table class="purchases table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>User</th>
        <th>Till</th>
        <th>Customer</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Complete</th>
        <th>Receipt</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each purchase in controller}}
      <tr>
        <td>{{#linkTo 'purchase' purchase class="btn btn-primary btn-small"}}{{purchase.sku}}{{/linkTo}}</td>
        <td>
          {{#if purchase.user}}
          {{purchase.user.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if purchase.till}}
          {{purchase.till.name}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>
          {{#if purchase.customer}}
          {{purchase.customer.fullname}}
          {{else}}
          None
          {{/if}}
        </td>
        <td>{{purchase.quantity}}</td>
        <td>${{currency purchase.total}}</td>
        <td>{{boolean purchase.complete}}</td>
        <td><button {{action 'receipt' purchase}} class="btn btn-small">Receipt</button></td>
        <td>
          {{#unless purchase.complete}}
          <button {{action 'delete' purchase}} class="btn btn-small">Delete</button>
          {{/unless}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name="purchase">
  <div class="row">
    <div class="col-lg-8">
      <div class="well">
        <form class="search form-inline">
          {{view Ember.TextField valueBinding="query" class="form-control" placeholder="Search..."}}
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="submit" {{action 'search'}} class="btn btn-default">Search</button>
        </form>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Qty</th>
            <th>Description</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each line in lines}}
          <tr class="line">
            <td class="remove"><button type="button" {{action 'remove' line}} class="btn btn-small btn-default">x</button></td>
            <td class="quantity">
              <span class="pull-left">
                {{view App.NumberField valueBinding="line.quantity" min="0" class="quantity form-control input-small"}}
              </span>
              <span class="btn-group pull-right">
                <button type="button" {{action 'quantityPlus' line}} class="btn btn-small btn-default">+</button>
                <button type="button" {{action 'quantityMinus' line}} class="btn btn-small btn-default">-</button>
              </span>
            </td>
            <td class="description">
              <p><strong>{{line.title}}</strong></p>
              <p><em>{{line.sku}}</em></p>
              <p>{{view Ember.TextField valueBinding="line.note" class="form-control input-small" placeholder="Add a note..."}}</p>
            </td>
            <td class="amount">${{currency line.amount}}</td>
            <td class="subtotal"><strong>${{currency line.subtotal}}</strong></td>
          </tr>
          {{/each}}
          <tr class="add">
            <td colspan="5">
              <span class="lead">Add a new line...</span>
              <button type="button" {{action 'addLine'}} class="btn btn-primary pull-right">Add Line</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="cart well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Description</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {{#each line in lines}}
            <tr class="cart-line">
              <td class="quantity">{{line.quantity}}</td>
              <td class="description">{{line.title}}</td>
              <td class="amount">${{currency line.amount}}</td>
              <td class="subtotal">${{currency line.subtotal}}</td>
            </tr>
            {{else}}
            <tr><td colspan="4" class="center">Cart is empty</td></tr>
            {{/each}}
          </tbody>
        </table>
        <hr>
        <ul class="summary">
          <li><span>Subtotal:</span><span>${{currency subtotal}}</span></li>
          <li><span><strong>Total:</strong></span><span><strong>${{currency total}}</strong></span></li>
        </ul>
        <hr>
        <ul class="payment">
          <li><span>Cash:</span><span>${{currency cash}}</span></li>
          <li><span>Store Credit:</span><span>${{currency storeCredit}}</span></li>
        </ul>
        <hr>
        <div class="clearfix">
          <p class="lead pull-left"><strong>{{dueLabel}}</strong></p>
          <p class="lead pull-right"><strong>${{currency due}}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div class="pull-left">
      <button {{action 'editUser'}} type="button" class="btn btn-default navbar-btn">
        {{#if user}}
        {{user.fullname}}
        {{else}}
        No User
        {{/if}}
      </button>
      <button {{action 'editCustomer'}} type="button" class="btn btn-default navbar-btn">
        {{#if customer}}
        {{customer.fullname}}
        {{else}}
        No Customer
        {{/if}}
      </button>
      <button {{action 'editTill'}} type="button" class="btn btn-default navbar-btn">
        {{#if till}}
        {{till.name}}
        {{else}}
        No Till
        {{/if}}
      </button>
    </div>
    <div class="pull-right">
      <button {{action 'save' this}} type="button" class="btn btn-default navbar-btn">Save</button>
      <button {{action 'complete' this}} {{bindAttr disabled="nonCompletable"}} type="button" class="btn btn-primary navbar-btn">Complete</button>
    </div>
    <p class="navbar-text lead pull-right"><strong>${{currency due}}</strong></p>
    <p class="navbar-text lead pull-right"><strong>{{dueLabel}}</strong></p>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="line">
  <div class="modal fade" id="line">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button {{action 'close' 'line'}} type="button" class="close">&times;</button>
          <h4 class="modal-title">Add Line</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Quantity</label>
              <div class="col-lg-10">
                {{view App.NumberField valueBinding="quantity" min="0" class="form-control" id="quantity" placeholder="Quantity"}}
              </div>
            </div>
            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                {{view Ember.TextField valueBinding="title" class="form-control" id="title" placeholder="Title"}}
              </div>
            </div>
            <div class="form-group">
              <label for="sku" class="col-lg-2 control-label">SKU</label>
              <div class="col-lg-10">
                {{view Ember.TextField valueBinding="sku" class="form-control" id="sku" placeholder="SKU"}}
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-lg-2 control-label">Amount</label>
              <div class="col-lg-10">
                {{view App.NumberField valueBinding="amount" class="form-control" step="0.1" id="amount" placeholder="amount"}}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button {{action 'close' 'line'}} type="button" class="btn btn-default">Close</button>
          <button {{action 'add'}} type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="till">
  <div class="modal fade" id="till">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button {{action 'close'}} type="button" class="close">&times;</button>
          <h4 class="modal-title">Select Till</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button {{action 'close' 'till'}} type="button" class="btn btn-default">Close</button>
          <button {{action 'select'}} type="button" class="btn btn-primary">Select</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="customer">
  <div class="modal fade" id="customer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button {{action 'close'}} type="button" class="close">&times;</button>
          <h4 class="modal-title">Select Customer</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button {{action 'close' 'customer'}} type="button" class="btn btn-default">Close</button>
          <button {{action 'select'}} type="button" class="btn btn-primary">Select</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="user">
  <div class="modal fade" id="user">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button {{action 'close'}} type="button" class="close">&times;</button>
          <h4 class="modal-title">Select User</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button {{action 'close' 'user'}} type="button" class="btn btn-default">Close</button>
          <button {{action 'select'}} type="button" class="btn btn-primary">Select</button>
        </div>
      </div>
    </div>
  </div>
</script>
