<script type="text/x-handlebars" data-template-name="sale/payment">
  <div class="row">
    <div class="col-lg-9">
      <h3>Payment</h3>
    </div>
    <div class="col-lg-3">
      <div class="pull-right">
        <button {{action 'back'}} type="button" class="header btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="lead clearfix">
    <div class="pull-right">
      <span>{{quantity}} items in cart</span>
      <span>=</span>
      <span><strong>${{currency subtotal}}</strong></span>
    </div>
  </div>
  <div class="lead clearfix">
    <div class="pull-right">
      <span class="minus glyphicon glyphicon-minus"></span>
    </div>
  </div>
  <div class="lead clearfix well">
    <span>Store Credit</span>
    <form class="payment form-inline pull-right">
      {{#if customer}}
        <div class="btn-group">
          <button type="button" {{bindAttr disabled="noCustomer"}} class="btn btn-default">{{customer.fullname}} | ${{currency customer.credit}}</button>
          <button type="button" {{action 'applyCustomerCredit'}} {{bindAttr disabled="noCustomer"}} class="btn btn-primary">Apply</button>
        </div>
      {{/if}}
      <button type="button" {{action 'clear' 'storeCredit'}} {{bindAttr disabled="noCustomer"}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
      <div class="form-group">
        {{view App.NumberField valueBinding="payment.storeCreditFmt" disabledBinding="noCustomer" step="0.01" min="0" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="lead clearfix well">
    <div class="pull-right">
      <span>${{currency subtotalAfterStoreCredit}}</span>
      <span>+</span>
      <span>Tax: ${{currency tax}}</span>
      <span>=</span>
      <span><strong>${{currency total}}</strong></span>
    </div>
  </div>
  <div class="lead clearfix">
    <div class="pull-right">
      <span class="minus glyphicon glyphicon-minus"></span>
    </div>
  </div>
  <div class="lead clearfix well">
    <span>Gift Card</span>
    <form class="payment form-inline pull-right">
      <button type="button" {{action 'amountDue' 'giftCard'}} class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Amount Due</button>
      <button type="button" {{action 'clear' 'giftCard'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
      <div class="form-group">
        {{view App.NumberField valueBinding="payment.giftCardFmt" step="0.01" min="0" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="lead clearfix">
    <div class="pull-right">
      <span class="minus glyphicon glyphicon-minus"></span>
    </div>
  </div>
  <div class="lead clearfix well">
    <span>Check</span>
    <form class="payment form-inline pull-right">
      <button type="button" {{action 'amountDue' 'check'}} class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Amount Due</button>
      <button type="button" {{action 'clear' 'check'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
      <div class="form-group">
        {{view App.NumberField valueBinding="payment.checkFmt" step="0.01" min="0" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="lead clearfix">
    <div class="pull-right">
      <span class="minus glyphicon glyphicon-minus"></span>
    </div>
  </div>
  <div class="lead clearfix well">
    <span>Credit Card</span>
    <form class="payment form-inline pull-right">
      <button type="button" {{action 'amountDue' 'credit'}} class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Amount Due</button>
      <button type="button" {{action 'clear' 'credit'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
      <div class="form-group">
        {{view App.NumberField valueBinding="payment.creditFmt" step="0.01" min="0" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="lead clearfix">
    <div class="pull-right">
      <span class="minus glyphicon glyphicon-minus"></span>
    </div>
  </div>
  <div class="lead cleafix well">
    <span>Cash</span>
    <form class="payment form-inline pull-right">
      <button type="button" {{action 'increment' '1'}} class="btn btn-primary">$0.01</button>
      <button type="button" {{action 'increment' '5'}} class="btn btn-primary">$0.05</button>
      <button type="button" {{action 'increment' '10'}} class="btn btn-primary">$0.10</button>
      <button type="button" {{action 'increment' '25'}} class="btn btn-primary">$0.25</button>
      <button type="button" {{action 'increment' '100'}} class="btn btn-primary">$1.00</button>
      <button type="button" {{action 'increment' '500'}} class="btn btn-primary">$5.00</button>
      <button type="button" {{action 'increment' '1000'}} class="btn btn-primary">$10.00</button>
      <button type="button" {{action 'increment' '2000'}} class="btn btn-primary">$20.00</button>
      <button type="button" {{action 'increment' '5000'}} class="btn btn-primary">$50.00</button>
      <button type="button" {{action 'increment' '10000'}} class="btn btn-primary">$100.00</button>
      <button type="button" {{action 'amountDue' 'cash'}} class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Amount Due</button>
      <button type="button" {{action 'clear' 'cash'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
      <div class="form-group">
        {{view App.NumberField valueBinding="payment.cashFmt" step="0.01" min="0" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="lead clearfix well">
    <div class="pull-right">
      <span>=</span>
      <span><strong>{{dueLabel}}</strong></span>
      <span><strong>${{currency due}}</strong></span>
    </div>
  </div>
  <hr>
</script>