<script type="text/x-handlebars" data-template-name="sale/search">
  <div class="row">
    <div class="col-lg-9">
      <h3>Search</h3>
    </div>
    <div class="col-lg-3">
      <div class="pull-right">
        <button {{action 'back'}} type="button" class="header btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="filter">
    <div class="filter_container row">
      <div class='filter_nav col-lg-4'>
        <button {{action 'all'}} type="button" {{bindAttr class=":all :btn isFilterAll:btn-primary:btn-default"}}>All</button>
        <button {{action 'newest'}} type="button" {{bindAttr class=":newest :btn isFilterNewest:btn-primary:btn-default"}}>Newest</button>
        <button {{action 'recent'}} type="button" {{bindAttr class=":recent :btn isFilterRecent:btn-primary:btn-default"}}>Recent</button>
      </div>
      <div class='filter_search col-lg-8'>
        <div class='filter_search_form pull-right'>
          <form class="search form-inline">
            <button type="button" {{bindAttr class=":btn :btn-default searching:visible:hidden"}}><span class="glyphicon glyphicon-refresh"></span></button>
            <div class="form-group">
              {{view Ember.TextField valueBinding="query" class="form-control" placeholder="Search..."}}
            </div>
            <button type="submit" {{action 'search'}} class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
            <button type="button" {{action 'clear'}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <table class="items table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in items}}
      <tr>
        <td><img {{bindAttr src="item.imageUrl"}} alt="Image" class="img-thumbnail" /></td>
        <td>{{item.sku}}</td>
        <td>{{item.name}}</td>
        <td>${{currency item.price}}</td>
        <td>
          <button {{action 'select' item}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Select</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr>
  <div class="page">
    <div class="page_container row">
      <div class="page_menu col-lg-6">
        <button {{action 'refresh'}} type="button" class="next btn btn-sm btn-primary"><span class="glyphicon glyphicon-refresh"></span> {{total}} results</button>
        {{#if hasPages}}
          <button {{action 'prev'}} type="button" class="prev btn btn-sm" {{bindAttr disabled="cantPagePrev"}}>&#8592; Previous</button>
          <button type="button" class="next btn btn-sm btn-default">{{page}} of {{totalPages}}</button>
          <button {{action 'next'}} type="button" class="next btn btn-sm" {{bindAttr disabled="cantPageNext"}}>Next &#8594;</button>
        {{/if}}
      </div>
      <div class="page_per col-lg-6">
        <div class="pull-right">
          <span class='title'>Per: </span>
          <span>
            <button {{action 'perTen'}} type="button" {{bindAttr class=":ten :btn :btn-sm isPerTen:btn-primary:btn-default"}}>10</button>
            <button {{action 'perTwentyFive'}} type="button" {{bindAttr class=":twenty-five :btn :btn-sm isPerTwentyFive:btn-primary:btn-default"}}>25</button>
            <button {{action 'perFifty'}} type="button" {{bindAttr class=":fifty :btn :btn-sm isPerFifty:btn-primary:btn-default"}}>50</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</script>